@media (max-width:600px){

    .yellow-60{
        display: none;
    }
    .navigation-bar{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: auto;
    }
   .nav-links{
    display: none;
   }
   .search-bar{
    display: none;
   }
   .right-nav{
    display: none;
   }
   .feature-gallery{
    
   }


}