@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #FCF8F3;
}

section {
    width: 85%;
    margin: auto;
    max-width: 1250px;
}


.yellow-60 {
    width: 70%;
    height: 100vh;
    background-color: #F9F1E7;
    position: absolute;
    z-index: -999;
}

.home {
    position: relative;
}

nav {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.logo-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links ul,
li,
a {
    display: flex;
    align-items: center;
    gap: 40px;
    color: #3a3a3a;
}

.logotext h1 {
    font-weight: 700;
    font-size: 2rem;
}

.search-bar {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.search-bar input {
    width: auto;
}

.right-nav ul {
    display: flex;
    gap: 30px;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: green;
}

.heart {
    font-size: 1.3rem;
}

.blurry-square {
    width: 350px;
    height: 370px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 100px;
    padding: 30px;
}

.blurry-square h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #3A3A3A;
}

.blurry-square P {
    font-size: 16px;
    color: #898989;
    margin: 10px 0 30px 0;
}

.shop-now {
    padding: 20px 0;
    width: 100%;
    background-color: #E89F71;
    color: white;
}

.blurry-price-tag {
    width: 300px;
    height: 170px;
    background-color: rgba(249, 249, 249, 0.6);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 70vh;
    right: 0;
    padding: 30px;
}

.blurry-price-tag h3 {
    font-weight: 700;
    color: #3A3A3A;
}

.blurry-price-tag p {
    font-size: 12px;
    color: #3A3A3A;
    margin: 20px 0;
}

.controller {
    margin: 40px 0 10px 35%;
    display: flex;
    justify-content: space-between;
}

.home-images {
    /* margin-top: 100px; */
    /* width: 100%; */
    height: 550px;
    display: flex;
    gap: 40px;
}

.first-image {
    height: 550px;
}

.first-image img {
    width: 100%;
    height: 100%;
}

.nav-arrows {
    display: flex;
    gap: 10px;
}

.arrow {
    background-color: #E89F71;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
}

.features {
    margin-top: 100px;
}

.feature {
    display: flex;
    align-items: center;
    gap: 20px;
}

.feature h6 {
    font-size: 1rem;
    font-weight: 400;
}

.feature p {
    font-size: 12px;
    font-weight: 300;
    margin-top: 5px;
    color: #3A3A3A;
}

.feature-gallery {
    display: flex;
    justify-content: space-between;
}

.our-products {

    width: 85%;
    margin: auto;
}

.section-heading {
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
    color: #3A3A3A;
    margin: 50px;
}

.products-gallery {
    margin: 0 0 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 40px;
}

.product {
    width: 250px;
    height: 400px;
    background-color: #F4F5F7;
    position: relative;
}

.product img {
    width: 100%;
}

.product-text {
    padding: 20px;
}

.product-text p {
    margin: 15px 0;
    font-size: 13px;
    color: #3A3A3A;
}

.product-text h4 {
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}

.offer-circle {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #E97171;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 6px;

}

.blue {
    background-color: #2EC1AC;
}

s {
    font-size: 13px;
    color: #3A3A3A;
}

.body-price-tag {
    display: flex;
    align-items: center;
    gap: 10px;
}

.show-more-btn {
    padding: 15px 60px;
    background-color: transparent;
    color: #E89F71;
    border: 2px solid #E89F71;
}

.show-more-button {
    /* width: 100%; */
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.room-container {
    display: flex;
    gap: 30px;
    padding: 50px;
}

.room-text-button {
    width: 40%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.image-room1 {
    width: 30%;
    position: relative;
}

.inner-peace {
    position: absolute;
    z-index: 9;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    top: 70%;
    left: 20%;
}

.inner-box {
    background-color: rgb(233, 230, 230, 0.8);
    backdrop-filter: 5px;
    /* width: 180px;
    height: 90px; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 20px;
    color: #3A3A3A;
}

.arrow-box {
    /* width: 30px;
    height: 30px; */
    background-color: #E89F71;
}

.image-room2 {
    width: 30%;
    position: relative;
}

.image-room1 img {
    width: 100%;
}

.second-room {
    height: 80%;
    width: 100%;
}

.second-controller {
    margin-top: 20px;
}

.room-arrow {
    position: absolute;
    right: -15px;
    top: 50%;
}

.explore-more {
    padding: 15px 35px;
    background-color: #E89F71;
    color: white;
}

.room-text-button p {
    margin: 20px 0;
    font-size: 14px;
}

.room-text-button h1 {
    font-size: 2rem;
}

.tips-gallery {
    display: flex;
    justify-content: space-between;
}

.tip {
    width: 30%;
    padding: 10px;
    cursor: pointer;
}

.text-tat-div {
    padding-right: 30%;
}

.tip img {
    width: 100%;
}

.tip h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 10px 0;
}

.tip p {
    font-size: 13px;
    font-weight: 300;
    color: #3A3A3A;
}

.tip:hover {
    background-color: rgb(222, 188, 188);
    transition: 0.5s ease-in-out;
}

.controller-tat {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.galleries{
    position: relative;
    margin-top: 75px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    align-items: center;
    overflow: auto;
}
.photo-gallery1,.photo-gallery2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: end;
    gap: 20px;
}

.photo2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.photo3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: baseline;
    gap: 20px;
}
.photo4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.heading{
    position: absolute;
    top: -3%;
    right: 40%;
    text-align: center;
}
.heading p{
    font-size: 13px;
    color: #3A3A3A;
    margin-bottom: 10px;
}
.heading h1{
    font-size: 2rem;

}

.footer{
    display: flex;
    /* background-color: #2EC1AC; */
    padding: 0 5%;
    width: 100%;
    gap: 30px;
    justify-content: space-between;
}
table{
    text-align: left;
    color: #3A3A3A;
    /* width: 20%; */
    /* padding: 30px; */
    display: flex;
    align-items: start;
}
.company{
    width: 20%;
}
.footer td{
    font-size: 16px;
    padding: 8px 0;
}
.footer th{
    padding-bottom: 10px;
    font-size: 1.5rem;
}
.no-pad{
    padding: 0;
}

.email-container{
    display: flex;
}
.email-container input{
    height: 40px;
    width: auto;
    background-color: #898989;
    padding: 0 10px;

}
.email-container button{
    width: 40px;
    height: 40px;
    background-color: #E89F71;
    color: white;
}

hr {
    border: 0;
    width: 100%;
    color: #FFFF00;
    height: 1px;
}


#line{
    margin: 50px auto 40px auto;
    height: 1px;
    width: 90%;
    background-color: #898989;
}